<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    <title>About page</title>
</head>

<body>

    {{>navbar}}

        <div class="row col-md-6 col-12 main_header_right">
            <div class="image">
                
            <img src="https://cdn.pixabay.com/photo/2016/12/08/15/45/panda-1892023_1280.png" alt="panda">
        
            </div>
        </div>
    
    {{>footer}}

</body>

</html>