<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    <title>Home page</title>
</head>

<body>

    {{>navbar}}

    <div class="row">
        <div class="body-left">
            <p>Welcome to MosamVibhag</p>
            <h1>Get The Latest <span class="text_clr">Weather</span> Info of Your City</h1>
            <a href="/weather"><button>check now</button></a>
        </div>
        <div class="body-right">
            <img src="https://cdn.pixabay.com/photo/2021/01/22/18/09/windy-5940755_1280.png" alt="climate" height="400px">

        </div>
    </div>

    {{>footer}}

</body>

</html>